@import "tailwindcss";

@theme {
  --font-heading: "Playfair Display", serif;
  --font-body: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FFF6E8;
  font-family: var(--font-body);
}